<% layout('layouts/boilerplate') %>

<h1>TODO: Implement</h1>

<div class="container">
  <input type="text" name="" value="" placeholder="search..">
  <button type="button" name="button" class="btn btn-md btn-primary">Search</button>
</div>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">ProductImage</th> -->
      <th scope="col">Auction name</th>
      <th scope="col">Location</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">company</th>
      <th scope="col">location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <!-- <td><img src="" alt="" height="80" width="80"></td> -->
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <!-- <td><button type="button" name="button" class="btn btn-sm btn-success">Join auction</button></td> -->
    </tr>
  </tbody>
</table>



<!--

1. Offer information
2. Room information
3. Auction information
4. Amount of bids? Current highest bid?


1.
Offer name,
Offer images,
Offer

2.
Room name,
Who made the room

3.
Auction start,
Auction end,
Auction

ProductImage,
room name,
company,
location,





-->
<!-- Search? -->
