<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="container mt-3">
    

    <div class="row">
    
        <!-- Vänster kolumn - Offers -->
        <div class="col-sm-6">

            <div class="col" id="eachBlock">
                <div class="card mb-3" id="offerCards">

                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg">

                    <div class="accordion accordion-flush" id="accordionTest">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span id="searchTitle">Cotton Material </span>  <span class="text-white">.</span> <span class="badge rounded-pill bg-success">Supply</span>
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTest">
                                <div class="accordion-body">
                                    <div class="list-group list-group-flush">
                                        <li class="list-group-item">Location </li>
                                        <li class="list-group-item">Submitted by </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        2 day ago
                    </div>
                </div>
            </div>

            <a class="card-link btn btn-info col-5" href="/auctions/currentAuctions">Back</a>
        </div>
    
        <!-- Höger kolumn -->
        <div class="col-sm-6">
           
            
            <!-- Info om rum och lägga bud -->
            <div class="card">

                <div class="card-body bg-light text-center">
                    <h3>Room name: Cotton Material</h3>
                </div>
                
                <div class="card-body text">

                    <table class="table table-borderless">

                        <tbody>
                            <td>Starting bid:                        </td>                   
                            <td class="text-end">30$   </td>
                        </tbody>
                        <tbody>
                            <td> Closing time:                               </td>
                            <td class="text-end"> 20 Nov 2021 at 12:00 CEST               </td>
                        </tbody>

                    </table>

                    <% var auctioneer = 0; %>   <!-- 0 = budare, 1 = skapare av auktion -->
                    <% if (auctioneer) { %>
                        <a class="card-link btn btn-info col-12" href="#">Pick Winner</a>
                    <% } if (!auctioneer) { %>
                        <label class="form-label" for="bid">Offer Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="bid-label">$</span>
                            <input type="text" class="form-control" id="bid" placeholder="0.00" aria-label="bid"
                                aria-describedby="bid-label" name="bid" required>
                        </div>
                        <a class="card-link btn btn-info col-12" href="/auctions/auction">Place Bid</a>
                            
                    <% } %>
                </div>
            </div>
            
            <br>
            <h3>Bid History</h3>

            <!-- Bud historik-->
            <div class="card">
                
                <table class="table ">

                    <tbody>
                        <td> Carlos                             </td>                   
                        <td> Date: 14 Nov 2021 at 11:00 CEST    </td>
                        <td> $100                               </td>
                    </tbody>
                    <tbody>
                        <td> Eric                               </td>                   
                        <td> Date: 14 Nov 2021 at 10:23 CEST    </td>
                        <td> $75                                </td>
                    </tbody>
                    <tbody>
                        <td> Carlos                             </td>                   
                        <td> Date: 13 Nov 2021 at 10:53 CEST    </td>
                        <td> $65                                </td>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
   
<script src="/javascripts/showPageMap.js"></script>