
<% layout('layouts/boilerplate') %>


<div class="container mt-3">
    
    <h1>Current Auctions</h1>

    <div class="row">

        <!-- Vänster kolumn -->
        <div class="col-sm-6">
            
            <table class="table table-hover">
                <tbody>
                    <!-- for(each aution i for user) -->
                    <% for (var i = 0; i < 3; i++) { %>
                        <tr>
                            <td> 
                                <img width="75" height="75" 
                                    alt="" src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"> </td>
                            <td> 
                                <br>
                                <a href='/auctions/auction'>Auction <%= i+1 %> </a> 
                            </td>
                            <td>
                                <br>
                                Offer <%= i+1 %>
                            </td>
                            <td>
                                <br>
                                End date: 2022-01-0<%= i+1 %>
                            </td>
                        </tr>
                    <% } %>
         
                </tbody>
            </table>

        </div>

        <!-- Höger kolumn -->
        <div class="col-sm-6">

            <div class="card-body text-end">
                <a class="card-link btn btn-info col-4" href="/auctions/history">History</a>
            </div>
            
           <!-- Låda med create och edit auction -->
            <div class="card">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <h2> Create/Edit </h2>
                        <br>
                        <a class="card-link btn btn-info col-4" href="#">Create Auction</a>
                            <br>
                            <br>
                        <a class="card-link btn btn-info col-4" href="#">Edit Auction</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script src="/javascripts/clusterMap.js"></script>

<script src="/javascripts/searchBar.js"></script>

