<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Public auctions</h1>
    </div>

    <div class="col-6"></div>

    <div class="col align-self-center">
      <input type="text" name="auctionSearch" value="" placeholder="search..">
      <button type="button" name="button" class="btn btn-md btn-info">Search</button>
    </div>
  </div>
</div>

<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Auction name</th>
      <th scope="col">Action type</th>
      <th scope="col">Reference type</th>
      <th scope="col">Reference sector</th>
      <th scope="col">Quantity</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <!-- <td><button type="button" name="button" class="btn btn-sm btn-success">Join auction</button></td> -->
    </tr>
  </tbody>
</table>
