<% layout('layouts/boilerplate') %>

<h1>Sent</h1>
<ul>
  <% for (let agreement of agreementsSent) { %>
  <li><%= agreement.subject.username %></li>
  <% } %>
</ul>

<h1>Received</h1>
<ul>
  <% for (let agreement of agreements) { %>
  <li class="d-flex gap-4">
    <%= agreement.agent.username %>
    <form
      method="POST"
      action="/profile/<%= currentUser.username %>/<%= agreement._id %>/accept"
    >
      <button type="submit" class="btn btn-primary">Accept</button>
    </form>
  </li>
  <% } %>
</ul>
