<% layout('layouts/boilerplate') %>


<form action="" method="post" class="mb-3">
	<label class="form-label">Send to</label>
	<input type="text" class="form-control" name="username">
	<label class="form-label">Title</label>
	<input type="text" class="form-control" name="title">
	<label class="form-label">Message</label>
	<textarea class="form-control" name="body" rows="3"></textarea>
	<button style="margin-top:10px;" class="btn btn-primary btn-lg" type="submit">Send!</button>
</form>
